In [1]:
apes = ["Homo", "Pan", "Gorilla"]

In [4]:
for item in apes:
    print (item + " is an ape")

Homo is an ape
Pan is an ape
Gorilla is an ape

In [5]:
for number in range (2, 14, 4):
    print (number)

2
6
10

In [6]:
count = 0
while count <10:
    print (count)
#called incrementing
    count = count + 1

0
1
2
3
4
5
6
7
8
9

# Class Challenge

Used wget to download file:

``

wget http://www.nature.com/nature/journal/vaop/ncurrent/source_data/nature21074-f1.csv

wget http://www.birds.cornell.edu/clementschecklist/wp-content/uploads/2013/03/eBird_Taxonomy_v2016_9Aug2016.csv

``

## THere is a problem with the end of line character. I changed the end of line character "\r" to "\n" 

``
cat  nature21074-f1.csv | tr "\r" "\n" > formatted.nature.csv
``

1. Number of unique families: 195
2. Family with the highest number of species: 102, Trochilidae
3. How many families are represented with only 1 species: 61